fastapi>=0.110,<0.111
uvicorn[standard]>=0.22,<0.23
sqlalchemy[asyncio]>=2.0,<2.1
asyncpg>=0.28,<0.29
alembic>=1.13,<1.14
pydantic-settings>=2.2,<2.3
python-jose[cryptography]>=3.3,<3.4
passlib[bcrypt]>=1.7,<1.8
bcrypt>=4.0,<4.1
celery>=5.3,<5.4
flower>=2.0,<2.1
redis>=5.0,<5.1
email-validator>=2.0,<3.0